@page "/addFlights"
@attribute [Authorize]
@using Client.Data
@using Client.Model
@inject IFlightService flightService
@inject IAirplaneService airplaneService
@inject NavigationManager navigationManager




<EditForm Model="@newFlight" OnValidSubmit="@AddNewFlight">
    <DataAnnotationsValidator />
    <div class="section">
        <div class="section-center">
            <div class="container d-flex justify-content-center">
                <div class="row">
                    <div class="booking-form">
                        <div class="col-12">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">Flying from</span>
                                        <InputSelect class="form-control" placeholder="Flying from" @bind-Value="newFlight.airplaneRegNum"></InputSelect>

                                        <!--
                                            <span class="form-label">Number of seats</span>
                                            <InputNumber class="form-control" placeholder="Number of seats" @bind-Value="newFlight.numberOfSeatRemaining" />
                                        -->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">Flying to</span>
                                        <InputSelect class="form-control" placeholder="Airplane reg num" @bind-Value="newFlight.airplaneRegNum">
                                            @if (airplanes == null)
                                            {
                                                <option>NoPlanesInDatabase</option>
                                            }
                                            else
                                            {
                                                <option default>Choose flight</option>
                                                @foreach (var item in airplanes)
                                                {

                                                    <option>@item.registrationNumber</option>
                                                }
                                            }
                                        </InputSelect>
                                    </div>
                                </div>




                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <span class="form-label">Departing</span>
                                        <input class="form-control" type="date" required>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <span class="form-label">Returning</span>
                                        <input class="form-control" type="date" required>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <span class="form-label">Seat capacity</span>
                                        <input class="form-control" type="number">
                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <span class="form-label">Reg. NO</span>
                                        <input class="form-control" type="number">
                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-11 text-center">
                                    <div style="color:red" class="font-weight-bold">@errorMessage</div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-5 offset-md-3">
                                    <div class="form-btn">
                                        <button class="submit-btn">Add flight</button>
                                    </div>
                                </div>

                                <ValidationSummary />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</EditForm>
@code {
    private Flight newFlight = new Flight();
    private IList<Airplane> airplanes;
    private string errorMessage;
    protected override async Task OnInitializedAsync()
    {
        airplanes = await airplaneService.GetFlights();
        errorMessage = "";
    }

    private async Task AddNewFlight()
    {
        if (newFlight.airplaneRegNum == null)
        {
            errorMessage = "Please choose a flight";
        }
        else
        {
            Flight test = await flightService.AddFlight(newFlight);
            navigationManager.NavigateTo("/flightList");
        }


    }
}
