@page "/pickedflight"
@using Microsoft.AspNetCore.WebUtilities @*for QueryHelpers*@
@inject NavigationManager navigationManager
@inject IFlightInfoService flightInfoService
@inject IAirportService airportService
@inject IBookingService bookingService
@inject ITicketService ticketService
@namespace AddPassengerService
@using Client.Data
@using Client.Model

<div class="container-fluid flight-overview">
    <div class="row justify-content-center align-items-center ">

        <div class="col-12 col-md-4 text-md-right text-center">
            @if (from == null)
            {
                <h2 class="text-white">
                    Loading...
                </h2>

            }
            else
            {
                <h2 class="text-white ">
                    @{string a = from.city;}
                    @a
                </h2>

                <p>@{string b = from.country;} @b</p>
            }
        </div>
        <div class="col-12 col-md-1 text-center">
            <i class="fas fa-exchange-alt" style="font-size:40px"></i>


        </div>
        <div class="col-12 col-md-4 text-md-left text-center">
            @if (whereTo == null)
            {
                <h2 class="text-white">
                    Loading...
                </h2>
            }
            else
            {
                <h2 class="text-white">
                    @{string a = whereTo.city;}
                    @a
                </h2>

                <p>
                    @{string b = whereTo.country;} @b

                </p>
            }

        </div>




    </div>
    <div class="row">
        <div class="col-12 text-center">

            <ul>
                @if (numOfAdults == 1)
                {
                    <li class="pr-1">
                        <i class="fas fa-male "></i>

                    </li>
                    <li> <strong>1 Adult</strong></li>
                }
                else
                {
                    <li class="pr-1">
                        <i class="fas fa-user-friends"></i>

                    </li>
                    <li><strong>@numOfAdults Adults</strong></li>
                }
                @if (numOfChildren == 1)
                {
                    <li class="pr-1">
                        <i class="fas fa-child" style="font-size:15px;"></i>

                    </li>
                    <li> <strong>1 Child</strong></li>
                }
                else if (numOfChildren == 0)
                {

                }
                else
                {
                    <li>
                        <i class="fas fa-child pr-1" style="font-size:15px;"></i>

                    </li>
                    <li><strong>>@numOfChildren Children</strong></li>
                }

            </ul>

        </div>
    </div>

</div>

<div class="container-fluid p-5">
    <div class="row">
        <div class="col-12 col-md-6">
            @for (int i = 0; i < (numOfAdults + numOfChildren); i++)
            {
                <AddPassenger @bind-newPassenger="passengers[i]" />
            }
        </div>
        <div class="col-12 col-md-4 p-5 position-relative ">
            <div class="picked-fixed">
                <p>After you provided all informations, you can click on button below to continue</p>
                <button @onclick="Submit" class="btn btn-primary btn-rounded">Continue </button>

            </div>
        </div>
    </div>
</div>

@code {
    private int flightID;
    private int numOfAdults;
    private int numOfChildren;
    private int price;
    private FlightInfo flightInfo;
    private Airport from;
    private Airport whereTo;
    private List<Passenger> passengers = new List<Passenger>();
    private bool isReturning;


    protected async override Task OnInitializedAsync()
    {
        @for (int i = 0; i < 11; i++)
        {
            passengers.Add(new Passenger(0, DateTime.Now, null, null, DateTime.Now, "A", null));
        }

        var uri = navigationManager.ToAbsoluteUri(navigationManager.Uri);

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("flightID", out var flightid))
        {
            flightID = Convert.ToInt32(flightid.First());
        }

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("adults", out var adults))
        {
            numOfAdults = Convert.ToInt32(adults.First());
        }

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("children", out var children))
        {
            numOfChildren = Convert.ToInt32(children.First());
        }

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("price", out var priceparam))
        {
            price = Convert.ToInt32(priceparam.First());
        }

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("returning", out var returning))
        {
            isReturning = Convert.ToBoolean(returning.First());
        }

        flightInfo = await flightInfoService.getFlightInfo(flightID);
        from = await airportService.getAirportByIATA(flightInfo.departure.fromWhere);
        whereTo = await airportService.getAirportByIATA(flightInfo.arrival.fromWhere);
        bookingService.setFlightID(flightID);
        bookingService.setAlreadyReservedSeats(await ticketService.getTickets(flightID));
    }
    private void Submit()
    {
        SaveInformation();
    }

    private void SaveInformation()
    {
        int startErasing = 0;
        for (int i = 0; i < 11; i++)
        {
            if (passengers[i].gender.Equals("A"))
            {
                startErasing = i;
                break;
            }
        }
        passengers.RemoveRange(startErasing - 1, 11 - (startErasing - 1));
        foreach (Passenger p in passengers)
        {
            Console.WriteLine(p);
        }
        bookingService.SavePassengerData(passengers, price);
        bookingService.setReturn(isReturning);
        bookingService.setAdultsChildren(numOfAdults, numOfChildren);
        navigationManager.NavigateTo("/luggage");
    }
}
