@page "/pickedflight"

<div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center flex-column flight-overview">
        <div class="flex-row d-flex">

            <h2 class="text-white pr-5">
                Uzbekistan
            </h2>
            <h2 class="text-white">
                Pakistan
            </h2>
        </div>

        <ul>
            <li>Economy </li>
            <li>1 Adult</li>
            <li>Round</li>

        </ul>

    </div>
</div>



@code {

}
