.booking-form .submit-btn {
  color: #000000;
  background-color: yellow;
  font-weight: 400;
  height: 50px;
  font-size: 14px;
  border: none;
  width: 100%;
  border-radius: 40px;
  text-transform: uppercase;
  -webkit-transition: 0.2s all;
  transition: 0.2s all; }

.yellow-button {
  color: #000000;
  background-color: yellow;
  font-weight: 400;
  height: 50px;
  font-size: 14px;
  border: none;
  width: 100%;
  border-radius: 40px;
  text-transform: uppercase;
  -webkit-transition: 0.2s all;
  transition: 0.2s all; }
  .yellow-button :hover, .yellow-button :focus {
    opacity: 0.9;
    transition: 0.2s all; }

.plage-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 300px; }

.plane img {
  width: 100%;
  height: auto; }

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box; }

/* Set a style for all buttons */
.main-content {
  width: 50%;
  border-radius: 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  margin: 5em auto;
  display: flex;
  background-color: #025A9F; }

.company__info {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff; }

.fa-android {
  font-size: 3em; }

@media screen and (max-width: 768px) {
  .main-content {
    width: 90%; }
  .company__info {
    display: none; }
  .login_form {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; } }

@media screen and (min-width: 642px) and (max-width: 800px) {
  .main-content {
    width: 70%; } }

.row > h2 {
  color: #025A9F; }

.login_form {
  background-color: #fff;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 20px; }

form {
  padding: 0 1em; }

.form__input {
  width: 100%;
  border: 0px solid transparent;
  border-radius: 40px;
  border-bottom: 1px solid #aaa;
  padding: 1em .5em .5em;
  padding-left: 2em;
  outline: none;
  margin: 1.5em auto;
  transition: all .5s ease; }

.form__input:focus {
  border-bottom-color: #025a9f;
  box-shadow: 0 0 5px #025a9f;
  border-radius: 20px;
  border: 0px; }

img {
  width: 100%;
  object-fit: cover; }

.section {
  position: relative;
  height: 100vh; }

.section .section-center {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.booking-form {
  background: #025a9f;
  padding: 40px;
  border-radius: 6px; }

.booking-form .form-group {
  position: relative;
  margin-bottom: 20px; }

.booking-form .form-control {
  background-color: #fff;
  height: 50px;
  color: #191a1e;
  border: none;
  font-size: 16px;
  font-weight: 400;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 40px;
  padding: 0px 25px;
  transition: 0.2s all; }

.booking-form .form-control:focus {
  -webkit-box-shadow: 0px -1px 22px 9px #ef476f;
  -moz-box-shadow: 0px -1px 22px 9px #ef476f;
  box-shadow: 0px -1px 22px 9px #ef476f;
  border-radius: 20px; }

.booking-form .form-control::-webkit-input-placeholder {
  color: rgba(82, 82, 84, 0.4); }

.booking-form .form-control:-ms-input-placeholder {
  color: rgba(82, 82, 84, 0.4); }

.booking-form .form-control::placeholder {
  color: rgba(82, 82, 84, 0.4); }

.booking-form input[type="date"].form-control:invalid {
  color: rgba(82, 82, 84, 0.4); }

.booking-form select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.booking-form select.form-control + .select-arrow {
  position: absolute;
  right: 10px;
  bottom: 6px;
  width: 32px;
  line-height: 32px;
  height: 32px;
  text-align: center;
  pointer-events: none;
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px; }

.booking-form select.form-control + .select-arrow:after {
  content: '\279C';
  display: block;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

.booking-form .form-label {
  display: block;
  margin-left: 20px;
  margin-bottom: 5px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 24px;
  height: 24px;
  font-size: 13px;
  color: #fff; }

.booking-form .form-checkbox input {
  position: absolute !important;
  margin-left: -9999px !important;
  visibility: hidden !important; }

.booking-form .form-checkbox label {
  position: relative;
  padding-top: 4px;
  padding-left: 30px;
  font-weight: 400;
  color: #fff; }

.booking-form .form-checkbox label + label {
  margin-left: 15px; }

.booking-form .form-checkbox input + span {
  position: absolute;
  left: 2px;
  top: 4px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%; }

.booking-form .form-checkbox input + span:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-color: #ef476f;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.booking-form .form-checkbox input:not(:checked) + span:after {
  opacity: 0; }

.booking-form .form-checkbox input:checked + span:after {
  opacity: 1;
  width: 10px;
  height: 10px; }

.booking-form .form-btn {
  margin-top: 27px; }

.nav-item a {
  color: white;
  height: 3rem;
  display: flex;
  align-items: center;
  transition: all 0.5s ease; }

.nav-item a.active {
  color: white;
  text-decoration: solid yellow; }

.nav-item a:hover {
  text-decoration: solid yellow;
  color: white; }

@media (min-width: 768px) {
  .navbar-toggler {
    display: none; } }

.navbar {
  background-color: #025A9F; }

.logo {
  width: 200px; }

.flight-wrap {
  width: 800px; }

.flight-layout-bg {
  background-color: #025A9F; }

.flight-overview {
  padding: 2.625rem 1.125rem 3.75rem;
  background-color: #ef476f;
  width: 100%; }

ul {
  padding-left: 0; }

ul li {
  display: inline-block;
  padding: 10px 10px 0px 10px; }

#resultsArea > ul {
  flex: auto; }

#resultsArea li > div {
  flex: 1 0; }

#resultsArea li > div:first-child {
  flex: 0; }

.select-styled {
  background-color: #fff;
  height: 50px;
  color: #191a1e;
  border: none;
  font-size: 16px;
  font-weight: 400;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 40px;
  padding: 0px 25px;
  transition: 0.2s all;
  font-weight: bold; }

html, body {
  font-family: gilroy-regular, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@font-face {
  font-family: 'gilroy-bold';
  src: url("open-iconic/font/fonts/Gilroy-Bold.ttf"); }

@font-face {
  font-family: 'gilroy-regular';
  src: url("open-iconic/font/fonts/Gilroy-Regular.ttf"); }

@font-face {
  font-family: 'gilroy-italic';
  src: url("open-iconic/font/fonts/Gilroy-MediumItalic.ttf"); }

h1, h2, h3, h4, h5, h6, button {
  font-family: gilroy-bold; }

h1, h2, h3, h4, h5, h6, button, p, span, a, input {
  letter-spacing: 1px; }

.content {
  padding-top: 1.1rem; }

.navbar-toggler {
  background-color: rgba(255, 255, 255, 0.1); }

.valid.modified:not([type=checkbox]) {
  outline: 1px solid #26b050; }

.invalid {
  outline: 1px solid red; }

.validation-message {
  color: red; }

.container-fluid {
  padding: 0px; }

/*------------------REGISTRATION FORM----------------*/
