.luggage-wrap {
    display: flex;
    gap: 10px;
}

.luggage-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    transition: 0.2s all ease;
    width: 33.33%;
    margin: 0 10px;
    border: 1px solid gainsboro;
    border-radius: 20px;
}


.luggage-card:hover {
    border-color: #025A9F;
}

.picked-luggage {
    border-color: red;
}

.suitcase {
    width: 59%;
}

[type=button]:focus .luggage-card {
    -webkit-box-shadow: 3px 2px 50px 5px #000000;
    box-shadow: 3px 2px 50px 5px #000000;
    border:2px solid red;
}
