@using Client.Authentication
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<nav class="navbar navbar-expand-sm navbar-toggleable-sm  box-shadow mb-3">
    <div class="container">
        <img src="/css/Assets/logo.png" class="logo" />
        <button class="navbar-toggler" @onclick="ToggleNavMenu" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass navbar-collapse d-sm-inline-flex flex-sm-row-reverse" @onclick="CollapseNavMenu">
            <ul class="navbar-nav flex-grow-1 justify-content-end">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>

                <AuthorizeView Policy="MustBeCustomer">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="flightList">
                            <span class="oi oi-plus" aria-hidden="true"></span> Show Flights
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="searchflight">
                            <span class="oi oi-plus" aria-hidden="true"></span> Search Flights
                        </NavLink>
                    </li>

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="flightlayout">
                            <span class="oi oi-plus" aria-hidden="true"></span>Flight List
                        </NavLink>
                    </li> <li class="nav-item px-3">
                        <NavLink class="nav-link" href="pickedflight">
                            <span class="oi oi-plus" aria-hidden="true"></span>Picked flight
                        </NavLink>
                    </li>

                </AuthorizeView>
                <AuthorizeView Policy="MustBeOperator">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="addFlights">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Add Flight
                        </NavLink>
                    </li>
                </AuthorizeView>
            </ul>

        </div>
    </div>

</nav>




@code {
    bool collapseNavMenu = true;
    private string email;
    private string password;
    private string error;
    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    void CollapseNavMenu()
    {
        collapseNavMenu = true;
    }

    protected override async Task OnInitializedAsync()
    {
        error = " ‏‏‎";
    }

    public async Task PerformLogin()
    {
        error = "";
        try
        {
            await ((CustomAuthenticationStateProvider)AuthenticationStateProvider).ValidateLogin(email, password);
            password = "";
            email = "";
            NavigationManager.NavigateTo("/flightList");
        }
        catch (Exception e)
        {
            error = e.Message;
        }

    }

    public async Task PerformLogout()
    {
        error = "";
        email = "";
        password = "";
        try
        {
            ((CustomAuthenticationStateProvider)AuthenticationStateProvider).Logout();
            NavigationManager.NavigateTo("/Login");
        }
        catch (Exception e) { }
    }

}


